@import "partials/roundedNav1";
@font-face {
    font-family: NESFont;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

$west-mec-color: #FAA61A;

body {
    background: {
        color: black;
        image: url(../images/wm-stars-background.png);
        size: 30%;
    }
    color: white;
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: NESFont;
}

img#west-mec-logo{
    max-width: 3.5rem;
    margin-left: 3rem;
}

div.navDiv {
    nav {
        background-color: black;
        a {
            color: white;
        }
        box-shadow: 0.2rem 0.2rem 0rem 0.45rem rgba(0, 0, 0, 1);
    }
}

div#programDescription {
    max-width: 55rem;
    max-height: 30rem;
    display: block;
    margin: {
        left: 6%;
        top: 4rem;
    }
    padding: 2.02rem;
}

div#careerPathways {
    max-width: 60rem;
    max-height: 30rem;
    display: block;
    margin: {
        left:27%;
        top: 4rem;
    }
    padding: 2.02rem;
}

div#video {
    max-width: 60rem;
    max-height: 30rem;
    display: block;
    margin: {
        top: 4rem;
        bottom: 4rem;
        left: auto;
        right: auto;
    }
    padding: 2.02rem;
}

iframe#video {
    display: block;
    margin: {
        left: auto;
        right: auto;
    }
}

p#programDescriptionHeader, p#careerPathwaysHeader {
    font-size: 1.5em;
    display: inline-block;
    color: $west-mec-color;
    background-color: rgba(0, 0, 0, 0.5);
}
p#videoHeader {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: $west-mec-color;
}

p#careerPathwaysHeader {
    text-align: right;
    max-width: 34rem;
    float: right;
}

p#programDescription {
    max-width: 25rem;
    float: left;
    line-height: 1.2rem;
    background-color: black;
    padding: 0.3rem;
}

p#careerPathways {
    max-width: 30rem;
    text-align: right;
    float: right;
    background-color: black;
    line-height: 1.2rem;
    padding: 0.3rem;
}

img#programDescriptionImage {
    max-width: 40%;
    margin-left: 6rem;
}

img#careerPathwaysImage {
    max-width: 39%;
    margin-right: 6rem;
}

button#showHideFooter {
    display: block;
    margin: {
        left: auto;
        right: auto;
    }
    padding: 1rem;
    background-color: black;
    color: white;
    border: {
        top-right-radius: 1rem;
        top-left-radius: 1rem;
        top: 0.2rem solid #FAA61A;
        left: 0rem solid rgba(0, 0, 0, 0);
        right: 0rem solid rgba(0, 0, 0, 0);
    }
    cursor: pointer;
}